@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Josefin+Sans:wght@300;400&family=Lobster+Two&family=Tangerine:wght@700&display=swap');

*{
    position: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.container{
    background-color: rgb(16, 152, 210);
}

.header {
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding: 10px;
    color: white;
}


.navbar {
    display: flex;
    padding: 20px;
    color: white;
    
}
.leftside {
    flex: 1;
}

.center {
    padding-right: 30px;
}

.rightside {
    padding-right: 30px;
}


